header{
    background-color: black;
}

nav li{
    display: inline;
    text-transform: uppercase;
    font-weight: solid;
    font-size: 30px;
    padding: 150px;
}

body{
    background-color: rgb(2, 2, 2);
    color: aliceblue;
}